@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 17px;
    border-radius: 15px;
    margin: 0 1em;
}

.qrcode {
    border-radius: 15px;
    width: 100%; 
}

.text {
    padding: 15px;
}

h1 {
    max-width: 330px;
    font-size: 23px;
    color: hsl(218, 44%, 22%);
    padding-top: 10px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-top: 15px;
}

div .info {
    padding-left: 18px;
    font-size: 14px;
    position: absolute;
    top: 90%;
}